<body>
    <div class="container" > 
          <div class="jumbotron" >
            <h2 style="text-align:center">Login Form</h2> 
      <form #frm="ngForm">
         <div class="form-group">
           <label>Email:<span class=t>*</span></label>
               <input type= "text" class="form-control" #nm="ngModel" ngModel name="email">
             
            </div>
    
    
    <div class="form-group">
          <label>Password:<span class=t>*</span></label>
               <input type= "password" class="form-control" #pass="ngModel" ngModel name="password">          
 </div> 
 
             <input type="button" class="btn btn-primary"  (click)="add(frm.value)" value="Login" [disabled]="frm.invalid"> &nbsp;
            
             <input type="button" class="btn btn-primary"  (click)="go()" value="SignUp" >
           
          </form>
    </div>
    </div>
    </body>
         
          
    